<nav class="pagination" role="navigation">
  {{#if prev}}
  <a class="pagination-btn pagination-newer-posts" href="{{page_url prev}}">
    <span class="pagination-btn-arrow">&larr;</span>
    <span class="pagination-btn-text">Newer Posts</span>
  </a>
  {{/if}}
  <span class="page-number">Page {{page}} of {{pages}}</span>
  {{#if next}}
  <a class="pagination-btn pagination-older-posts" href="{{page_url next}}">
    <span class="pagination-btn-text">Older Posts</span>
    <span class="pagination-btn-arrow">&rarr;</span>
  </a>
  {{/if}}
</nav>