<nav class="pagination" role="navigation">
  {{#if prev}}
  <a class="pagination-btn newer-posts" href="{{page_url prev}}">
    <span class="pagination-btn-icon">&uarr;</span>
    {{!-- <span class="pagination-btn-text">Newer Posts</span> --}}
  </a>
  {{/if}}
  <span class="page-number">Page {{page}} of {{pages}}</span>
  {{#if next}}
  <a class="pagination-btn older-posts" href="{{page_url next}}">
    <span class="pagination-btn-text">Older Posts</span>
    <span class="pagination-btn-icon">&darr;</span>
  </a>
  {{/if}}
</nav>